:root {
    --color-white: #fff;
    --color-translucent-white: #d7ccc0;
    --color-light: #f5f4f0;
    --color-main: #fe8a02;
    --color-main:  #42413c;
    --color-dark: #2a2626;
    --color-translucent-dark: #908d8b;
    --color-brown: #b09a81;
    --color-blue: #1085c5;
    }

    body {
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 1.6em;
        color: #2A2626;
    }
    h1 {
      font-size: 72px;
      text-align: left;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 34px;
    }

    .header {
      font-family: "Neucha";
      line-height: 1.2em;

      position: relative;
    }


    .header::before {
      content: "";
      display: block;
      background-image: url('layout-designer-basics-project-58/background.png'); 
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
    }
    .header, .content-part, .footer {
        max-width: 1100px;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
    }
    .tota {
      position: absolute;
      
      top: 55px;
      right: -270px;
      height: 525px;
    }
    .button {
      padding: 12px 24px;
      font-weight: bold;
      text-decoration: none;
    }
    .text {
      text-align: left;
    }

    